BR2_arm=y
BR2_ARM_INSTRUCTIONS_THUMB=y
BR2_TOOLCHAIN_BUILDROOT_LOCALE=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_TARGET_GENERIC_HOSTNAME="pocketgo"
BR2_TARGET_GENERIC_ISSUE="Welcome to Pocket-Go EXPERIMENTAL"
BR2_GENERATE_LOCALE="en_US.UTF-8"
BR2_PACKAGE_LZ4=y
BR2_PACKAGE_LZOP=y
BR2_PACKAGE_PV=y
BR2_PACKAGE_ZLIB=y
BR2_PACKAGE_FREETYPE=y
BR2_PACKAGE_LIBDRM=y
BR2_PACKAGE_EXPAT=y
BR2_PACKAGE_LLVM=y
BR2_PACKAGE_SCREEN=y
BR2_PACKAGE_HTOP=y
